.All-Sale-Wrapper {
    width: 100%;
    height: 1600px;
    display: flex;
    flex-flow: row wrap;
    .All-Sale-Aside {
        width: 20%;
        position: sticky;
        top: 0;
        right: 0;
        height: 660px;
        border: 1px solid #F0F0F1;
        border-radius: 15px;
        margin-right: 10px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .All-Sale-Aside-title {
            color: black;
            font-family: var(--fontFamily);
            font-size: 22px;
            padding: 20px;
        }
        .All-Sale-Aside-brands {
            width: 95%;
            color: black;
            direction: ltr;
            font-family: var(--fontFamily);
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 15px;
            align-items: center;
            border-bottom: 1px solid #F0F0F1;
            font-weight: normal;
            img {
                width: 16px;
                height: 16px;
            }
        }
        .All-Sale-Aside-receive-today {
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            p {
                font-family: var(--fontFamily);
                font-size: 15px;
                color: black;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                img {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                }
            }
            /* From Uiverse.io by namecho */ 
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   
        }
        .All-Sale-Aside-Onlysupermarket {
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom: 1px solid #F0F0F1;
            p {
                font-family: var(--fontFamily);
                font-size: 15px;
                color: black;
                display: flex;
                flex-flow: row wrap;
                align-items: center;

            img {
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }
        }
    /* From Uiverse.io by namecho */ 
        .switch {
            --button-width: 3.5em;
            --button-height: 2em;
            --toggle-diameter: 1.5em;
            --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
            --toggle-shadow-offset: 10px;
            --toggle-wider: 3em;
            --color-grey: #cccccc;
            --color-green: #4296f4;
           }
           
           .slider {
            display: inline-block;
            width: var(--button-width);
            height: var(--button-height);
            background-color: var(--color-grey);
            border-radius: calc(var(--button-height) / 2);
            position: relative;
            transition: 0.3s all ease-in-out;
           }
           
           .slider::after {
            content: "";
            display: inline-block;
            width: var(--toggle-diameter);
            height: var(--toggle-diameter);
            background-color: #fff;
            border-radius: calc(var(--toggle-diameter) / 2);
            position: absolute;
            top: var(--button-toggle-offset);
            transform: translateX(var(--button-toggle-offset));
            box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
            transition: 0.3s all ease-in-out;
           }
           
           .switch input[type="checkbox"]:checked + .slider {
            background-color: var(--color-green);
           }
           
           .switch input[type="checkbox"]:checked + .slider::after {
            transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
            box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
           }
           
           .switch input[type="checkbox"] {
            display: none;
           }
           
           .switch input[type="checkbox"]:active + .slider::after {
            width: var(--toggle-wider);
           }
           
           .switch input[type="checkbox"]:checked:active + .slider::after {
            transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
           }        
        }
        .All-Sale-Aside-sendbyseller {
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom: 1px solid #F0F0F1;
            .All-Sale-Aside-sendbyseller-text {
                display: flex;
                flex-flow: column wrap;
                font-family: var(--fontFamily);
                font-size: 15px;
                .color-grey {
                    color: grey;
                }
            }
            /* From Uiverse.io by namecho */ 
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   
        }
        .All-Sale-Aside-limitprice {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 95%;
            border-bottom: 1px solid #F0F0F1;
            align-items: center;
            p {
                font-family: var(--fontFamily);
                font-size: 15px;
                font-weight: normal;

            }
            img{
                width: 16px;
                height: 16px;
            }
        }
        .All-Sale-Aside-availableproducts {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
            width: 95%;
            align-items: center;
            border-bottom: 1px solid #F0F0F1;
            p {
                font-family: var(--fontFamily);
                font-size: 15px;
                font-weight: normal;
            }
            /* From Uiverse.io by namecho */ 
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   
        }
        .All-Sale-Aside-instorage {
            width: 95%;
            height: 70px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #F0F0F1;
            p {
                font-family: var(--fontFamily);
                font-size: 15px;
                font-weight: normal;
                width: 60%;
            }
            /* From Uiverse.io by namecho */ 
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   
        }
        .All-Sale-Aside-type {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            padding-top: 20px;
            p{
                font-family: var(--fontFamily);
                font-size: 15px;
                font-weight: normal;
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
    }    
    .All-Sale {
        width: 78%;
        height: inherit;
        padding-right: 20px;
        .All-Sale-categories {
            height: 50px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            border-bottom: 1px solid #F0F0F1;
            .All-Sale-categories-right {
                width: 70%;
                height: inherit;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .All-Sale-categories-sort{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    column-gap: 10px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                .All-Sale-categories-category {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    color: grey;
                }
            }
            .All-Sale-categories-left {
                width: 30%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
                p {
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    color: grey;
                }
            }
        }
        .All-Sale-products {
            width: 100%;
            height: inherit;
            .All-Sale-products-row {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                height: 525px;
                .All-Sale-products-row-item {
                    width: 25%;
                    height: inherit;
                    border-left: 1px solid #F0F0F1;
                    border-bottom: 1px solid #F0F0F1;
                    padding: 15px;
                    .All-Sale-products-top-banner {
                        width: 116px;
                        height: 14px;
                    }
                    .earlyaccess {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        column-gap: 5px;
                        align-items: center;
                        justify-content: flex-start;
                    .All-Sale-product-star {
                    
                        width: 14px;
                        height: 14px;
                        
                    }
                    p {
                        font-family: var(--fontFamily);
                        font-size: 13px;
                        font-weight: bold;
                        color: #b12ba4;
                    }
                }
                    .All-Sale-product-item-image {
                        width: 240px;
                        height: 220px;
                    }
                    .coloroption {
                        height: 8px;
                        width: 8px;
                        background-color: #212121;
                        border-radius: 50%;
                        margin-right: 95%;
                        border: 1px solid grey;
                    }
                    .All-Sale-product-item-Description {
                        margin-top: 20px;
                        font-family: var(--fontFamily);
                        font-size: 12px;
                        height: 52px;
                    }
                    .All-Sale-products-item-rating {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        width: 100%;
                        padding-top: 10px;
                        .Send-tomorrow {
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            column-gap: 3px;
                            font-family: var(--fontFamily);
                            font-size: 10px;
                            color: #62666E;
                                img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .All-Sale-in-Storage {
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            column-gap: 3px;
                            font-family: var(--fontFamily);
                            font-size: 10px;
                            color: #62666E;
                                img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .review {
                            font-family: var(--fontFamilyNumber);
                            font-size: 16px;
                            color: black;
                            font-weight: normal;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            column-gap: 3px;
                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    .All-Sale-products-item-pricing {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        padding-top: 20px;
                        span {
                            background-color: #D32F2F;
                            border-radius: 20px;
                            color: white;
                            font-family: var(--fontFamilyNumber);
                            font-weight: bold;
                            width: 40px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        p {
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            font-family: var(--fontFamilyNumber);
                            color: black;
                            font-weight: bold;
                            font-size: 23px;
                            column-gap: 3px;
                        }
                    }
                    .All-Sale-products-item-old-pricing {
                        display: flex;
                        flex-flow: row wrap;
                        width: 100%;
                        justify-content: flex-end;
                        font-family: var(--fontFamilyNumber);
                        font-weight: bold;
                        text-decoration: line-through;
                        color: grey;
                        padding-left: 22px;
                    }
                    .All-Sale-products-item-progessbar {
                        margin-top: 40px;
                        width: 98%;
                        height: 5px;
                        border-radius: 10px;
                        background-color: lightgrey;
                        position: relative;
                        .All-Sale-products-item-progress {
                            height: inherit;
                            border-radius: inherit;
                            position: absolute;
                            left: 0;
                            width: 72%;
                            background-color: crimson;
                        }
                    }
                    .All-Sale-products-item-timer {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        padding-top: 10px;
                        align-items: center;
                        p {
                            span {
                                font-family: var(--fontFamilyNumber);
                                font-size: 15px;
                                font-weight: normal;
                                color: #EF394E;
                            }
                            font-family: var(--fontFamily);
                            font-size: 12px;
                            font-weight: normal;
                            color: grey;
                            column-gap: 3px;
                        }
                        .All-Sale-products-item-time {
                            font-family: var(--fontFamilyNumber);
                            font-size: 15px;
                            font-weight: bold;
                            color: #EF394E;
                        }
                    }
                }
            }
        }
    }
}
.colorred {
    color: #EF394E !important;
}
.noprogressbar {
    display: none;
}
.noprogressbartimer {
    margin-top: 45px;
}
.nopercentage {
    justify-content: flex-end !important;
}
.coloroptionimage {
    height: 212px !important;
}
.coloroption2 {
    background-color: #F44366;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 95%;
    border: 1px solid grey;
}
.coloroption3 {
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 95%;
}
.coloroption4 {
    background-color: #808080;
    border: 1px solid grey;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 95%;
}
.coloroption5 {
    margin-top: 5px;
    background-color: #9E9E9E;
    border: 1px solid grey;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 95%;
}
.coloroption6 {
    margin-top: 5px;
    background-color: #EBEBEB;
    border: 1px solid grey;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 95%;
}
.twocoloroptionsimage {
    height: 199px !important;
}
.progress2 {
    width: 57% !important;
}
.bottomborderremover {
    border-bottom: 0px none transparent !important;
}
.leftborderremover {
    border-left: 0px none transparent !important;
}
.noreview {
    justify-content: flex-start !important;
}
