.Membership {
    width: 100%;
    height: 115px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;
    .Membership-center {
        width: 99%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: #EBE4EA;
        border-radius: 15px;
        .Membership-center-right {
            width: 20%;
            height: inherit;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            background-image: url(../Images/Sale-page/Membership/background-right.svg);
            padding-right: 40px;
        }
        .Membership-center-left {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            background-image: url(../Images/Sale-page/Membership/background-left.svg);
             background-repeat: no-repeat;
            padding-left: 20px;
            .Sale-page-Membership-Product {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                width: 74px;
                height: 74px;
                background-color: white;
                border-radius: 50%;
                position: relative;
                .Product-Image{
                    margin-top: 10px;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }
                .Sale-page-Membership-Product-percentage {
                    position: relative;
                    left: 20px;
                    bottom: 10px;
                    background-color: #D32F2F;
                    color: white;
                    font-family: var(--fontFamilyNumber);
                    font-weight: bold;
                    width: 34px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                }
            }
            .Sale-page-Membership-More {
                width: 143px;
                height: 50px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                p {
                    color: purple;
                    font-family: var(--fontFamily);
                    font-size: 13px;
                }
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
            }
        }
    }
}