.Trend {
    width: 100%;
    height: 405px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .Trend-center {
        width: 80%;
        height: inherit;
        border: 1px solid #F0F0F1;
        border-radius: 15px;
        .Trend-center-top {
            width: 100%;
            height: 80px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .Trend-center-top-title {
                width: 90%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 5px;
                 }
                 p {
                    font-family: var(--fontFamily);
                    font-weight: bold;
                    font-size: 25px;
                 }
            }
        }
        .Trend-center-bottom {
            width: 100%;
            height: calc(405px - 80px);
            .swiper {
                width: 100%;
                height: 90%;
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 40px;
                .swiper-slide-trend-product {
                    width: inherit;
                    height: inherit;
                    display: flex;
                    flex-flow: column wrap;
                    .trend-item {
                        width: 100%;
                        height: 33%;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        column-gap: 10px;
                        .trend-image {
                            width: 86px;
                            height: 86px;
                            display: flex;
                            flex-flow: row wrap;
                            padding-right: 5px;
                        }
                        .trend-number {
                            font-family: var(--fontFamilyNumber);
                            font-size: 27px;
                            font-weight: bolder;
                            color: #19BFD3;
                        }
                        .trend-text {
                            width: 53%;
                            font-family: var(--fontFamily);
                            font-size: 11px;
                            line-height: 20px;
                            text-align: right;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            padding-right: 5px;
                        }
                    }
                }
              }
          
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }
    }
}
.trend-border {
    width: 70%;
    height: 1px;
    background-color: #F0F0F1;
    margin-right: auto;
}